Connected Services/Assets.Scripts/PlacesWsdl.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://server.mycloud.by/" xmlns:xs="http://www.w3.org/2001/XMLSchema" name="PlacesWsdl" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xs:schema xmlns:tns="http://schemas.xmlsoap.org/wsdl/" elementFormDefault="qualified" targetNamespace="http://server.mycloud.by/">
      <xs:element name="Request">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="x" type="xs:string" />
            <xs:element name="y" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Response">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="score" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:schema>
  </types>
  <message name="getPlaceRequest">
    <part name="Request" element="tns:Request" />
  </message>
  <message name="getPlaceResponse">
    <part name="Response" element="tns:Response" />
  </message>
  <portType name="SweetServicePortType">
    <operation name="getPlace">
      <input message="tns:getPlaceRequest" />
      <output message="tns:getPlaceResponse" />
    </operation>
  </portType>
  <binding name="SweetServiceBinding" type="tns:SweetServicePortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="getPlace">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="SweetService">
    <port name="SweetServicePort" binding="tns:SweetServiceBinding">
      <soap:address location="http://server.mycloud.by/wsdl" />
    </port>
  </service>
</definitions>